name: Generate ASCII
on: [push]

jobs:
  build_job1:
    runs-on: ubuntu-latest
    steps:
    - name: Install cowsay CMD
      run: sudo apt-get install cowsay
    
    - name: Execute cowsay CMD
      run: cowsay -f dragon "Run for Cover, I'm a dragon...RAWR" >> dragon.txt
    
    - name: sleeping for some time.
      run: sleep 1

  test_job2:
    needs: [build_job1]
    runs-on: ubuntu-latest
    steps:
    - name: sleeping for some time.
      run: sleep 1

    - name: check for dragon word
      run: grep -i "dragon" dragon.txt

  deploy_job3:
    needs: [build_job1, test_job2]
    runs-on: ubuntu-latest
    steps:
    - name: sleeping for some time.
      run: sleep 1

    - name: READ file
      run: cat dragon.txt

    - name: deploy job.
      run: echo "deploying...""

    # job-1:
    #     runs-on: ubuntu-latest
    #     steps:
    #       - name: checkout Repo
    #         uses: actions/checkout@v6        

    #       - name: Executing a shell script
    #         run: |
    #           chmod +x ascii-script.sh
    #           ./ascii-script.sh
          