name: Generate ASCII
on: [push]

jobs:
    job-1:
        runs-on: ubuntu-latest
        steps:
          - name: checkout Repo
            uses: actions/checkout@v6        

          - name: list files
            run: ls -la

          - name: Executing a shell script
            run: |
              chmod +x ascii-script.sh
              ./ascii-script.sh
          
          #- name: install cowsay
          #  run: sudo apt-get install cowsay

          #- name: Generate ASCII artwork
          #  run: cowsay -f dragon "Run for Cover, I'm a dragon...RAWR" >> dragon.txt

          #- run: |
          #    echo "some text"
          #    cat dragon.txt
          #    grep -i "dragon" dragon.txt

        
      
        